.btn-primary {
  display: inline-block;
  min-width: 150px;
  background-color: rgb(36, 36, 102);
  color: white;
  font-weight: 500;
  transition: background-color 0.3s;
  padding: 8px 25px 8px 15px;
  text-align: center;
  text-decoration: none;
  position: relative;

  svg {
    font-weight: bold;
    letter-spacing: 2px;
  }

  i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s;
  }

  &:hover {
    background-color:#D30013;
    i {
      right: 15px;
    }
  }
}