.slider-container {
  position: relative;
  margin-top: 30px;
  margin-bottom:30px;
  width: auto;


  .item{
    overflow: hidden;
  }

  .item img{
    transform: scale(1);
    transition: transform 0.3s;
    overflow: hidden;
    
    
    &:hover {
      transform: scale(1.2);
      
    }
  }

  .prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    opacity: 0.3;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    transition: opacity 0.3s;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .prev {
    left: 5px;
  }

  .next {
    right: 5px;
  }
  
  .slick-dots {
    position: absolute;   
    bottom: -40px;
    margin: 10px auto;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;


    li {
      width:auto;
      display: inline-block;
      margin: 8px;
      width: 18px;
      height: 18px;
      position: relative;
      button {
        content: '';
        height: 24px;
        width: 24px;
        background-color: rgba(255,255,255,0.3);
        box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
        border-radius: 50%;
        //overflow: hidden;
        position: absolute;
        border: none;
        color: #000000;

      }
      &.slick-active {
        button {
          background-color: rgba(0,0,0,0.7);
          color: #FFFFFF;
        }
      }
      button {
        //display: none;
      }
    }
  }
}