


#aboutus{
    background-color: #dbe5e6;
    margin:50px ;
    padding: 30px 0px;
    }
    #aboutus h1{
    font-weight: 900;
    font-size:34px;
    padding-bottom:5px;
    
    }
    
    
    .card{
      display: flex;
      flex-direction: column;
      margin-top:30px ;
      border: 1px solid #DDD;
      width:auto;

      .image {
        width: 100%;
        height: auto;
        overflow: hidden;
        img {
          transform: scale(1);
          transition: transform 0.3s
        }
      }

      &:hover {
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }

      .content {
        background-color: #fff;
        padding: 15px;
        .title {
          font-size: 18px;
          color: #000;
          font-weight: bold;
          margin-bottom: 15px;
        } 

        .description {
          font-size: 14px;
          color:#000;
          font-weight: normal;
          margin: 15px 0;
        }

        .cta {
          display: inline-block;
          padding: 10px 15px;
          background-color: rgb(183, 0, 255);
          color: black;
          text-align: center;
          transition: background-color 0.3s;
          border-radius: 20px;

          &:hover {
            background-color:rgb(241, 12, 31);
            color: #fff;
          }
        }
      }

    }
    