.customer-container{
    text-align: left;
    position:relative;
    padding: 10px;
    margin-top: 30px;

    .customer-success{

        font-size: 56px;
        font-family: $font-bold;
        max-width: 70%;
        margin: 0 auto;
        color:black;
        line-height: 1.2;

    }
   .customer-desp{

 font-size: 56px;
font-family: $font-bold;
max-width: 70%;
margin: 0 auto;
color: white;
line-height: 1.2;
}
} 