.pink{
width: 100%;
height:150px ;
background-color:palevioletred ;

h1{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    color:honeydew;
}
p{
    text-align: center;
    font-style: italic;
    line-height: 2;
}
button{
    padding: 5px 35px;
    align-items: center;
    text-align:center;
    float: right ;

}

}