

/*.main-container {
    position: relative;
    padding-top: 63px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color:rgba(0, 47, 255, 0.76);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    width: 100%;
    position: absolute;
    background-color: rgb(172, 10, 172);
    height: 63px;
    top: 0;
    left: 0;
    align-items: center;
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: $font-regular;

    

    a {
display: inline;
color: white;
font-size: inherit;
font-family: inherit;
text-decoration:underline;

    }
}
.header-nav-container{
    display: flex;
    padding: 30px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    transition: background-color 0.3s;

    .is-scrolled & {
        background-color: white;
        box-shadow: 0 2px 2px rgba(0,0,0,0.3);
        z-index: 1;
        position: fixed;
        top:0;

        .menu-icon {
            color: #000;
        }

        .hub-logo {
            display: none;
        }
        
        .hub-logo-scrolled {
            display: inline;
        }
        
    }
.menu-icon{

    font-size: 40px;
    text-align: right;
    color: white;

}

.hub-logo {
    display: inline;
}

.hub-logo-scrolled {
    display: none;
}

.nav-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: auto;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    background-color: white;
    z-index: 9;
    list-style: none;
    padding: 0;

    &.open {
        max-height: 300px;
        overflow: auto;
        padding: 30px;
        
    }

    li{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    a{
        display: flex;
        font-size: 18px;
        color: black;
    }
    &:hover{
background-color: #ddd;

    }
    


    }
}

}
.banner-container{
text-align: center;
padding-top: 50px;

.banner-title{
font-size: 56px;
font-family: $font-bold;
max-width: 70%;
margin: 0 auto;
color: white;
line-height: 1.2;

}
.banner-desc{
    font-size:20px;
    font-family: $font-light;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.6;
    margin-top: 20px;
    color: white;
}
}

.nav-section-center{
    display: inline-block;
    align-items: center;
  ul{
      display: inline-block;
      color: black;
      li{
          display:inline-block;
          background-color: #dce4ecd3;
          color:black;
          align-items: center;
          padding: .538em 1.077em;
          font-family: inherit;
          font-size: 20px;
          font-weight: 400;
          border-radius: 3px;
          cursor: pointer;
          line-height: 1.65;
          -webkit-appearance: none;
          text-decoration: none !important;
          max-width: 100%;
          transition: .15s all ease;
      }
  }
}




/////////////////////////////*






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


.navbar {
    display: flex;
    float: left;
    margin: 20px -16px;
    overflow: hidden;
    background-color:transparent;
    font-family: Arial;
   
    @media all and (max-width:991px){
        display: none;
    }
  }

  .logo{
      display: flex;
      margin-right: 50px;
      cursor: pointer;
    
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
 
  .column a:hover {
    background-color: #ddd;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }




li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
}




nav > button {
    padding: 9px 25px;
    background-color: #4caf50;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

nav > button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.menu-icon{

    font-size: 40px;
    text-align: right;
    color: white;

}


.nav-menu {
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    background-color: white;
    z-index: 9;
    list-style: none;
    padding: 0;

    &.open {
        max-height: 300px;
        overflow: hidden;
        padding: 30px;
        
    }

    li{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    a{
        display: flex;
        font-size: 18px;
        color: black;
    }
    &:hover{
background-color: #ddd;

    }
    


    }
}



/* Content */
/*.wrapper1 {
    //background: url('/public/images/hero-bg-1.jpg') no-repeat center center cover;
    background-image: url('/public/images/hero-bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    position: relative;
    //overflow: hidden; 
    z-index: 1;
    &::before {
        position: absolute;
        content: '';
        background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

    }
    .header-main-bg{
        position: absolute;
        top:0;
        left:0;
        width:100% ;
        height: auto;


    }
}


.content {
    display: block;
    padding: 80px 10%;
    //justify-content: space-between;
    color: #FFF;
}
.hero-info{
    width:50%;
    float:left;

}

.hero-info h1 {
    font-size: 40px;
    line-height: 1.2;
}

.hero-img{
    width: 50%;
    float:left;
    
}
.hero-img img{
    width:100% ;
    height:auto;
    //transform: rotateY(180deg);
}
.hero-info p {
    margin: 30px 0;
    font-weight: 400;
    line-height: 2;

}

.locale {
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline {
    border-radius: 30px;
    color: #ffffff;
    border-color: #ffffff;
    padding: 12px 30px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-outline:hover {
    background: #ffffff;
    color: #6730e3;
    
}

i.fa {
    margin-right: 10px;
}

.social-links {
    padding: 20px;
    margin-top: 100px;
    margin-left:-10px;

}

.social-links ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
    

}

.btn-social {
    margin-right: 10px;
    display: inline-block;
    min-width: 150px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bg-facebook {
    background-color: #4267B2;
}

.bg-youtube {
    background-color: #FF0000;
}

.bg-instagram {
    background-color: #C13584;
}

.section{

    display: block;
    padding: 0 10%;
    //justify-content: space-between;
    color: #FFF;
}

nav{
padding-top: 20px;
padding-bottom: 20px;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  *///////////////////////////////


  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
    
    nav{
        display: flex;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
    }
    
    nav > div {
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding: 2% 6%;
    }
    
    nav img{
        width: 150px;
    
    }
    .nav-links{
    
        display: block;
        max-width: 400px;
           float: right;
        text-align: right;
    }
    .nav-links ul li{
    
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 13px;
    }
    .nav-links ul li::after{
        content: '';
        width:0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    
    }
    .text-box{
    
        width: 100%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .text-box h1{
    
        font-size: 62px;
    }
    
    .text-box p{
    
        margin: 10px 0px 40px;
        font-size:14px ;
        color: #fff;
    }
    .hero-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
    
    }
    .hero-btn:hover{
    
        border: 1px solid #f44336;
        background-color: #f44336;
        transition: 1s;
    }
    
    nav .fa{
    
        display: none;
    }
    
    #bgslider { 
        overflow: hidden; 
    }
    #bgslider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
    #bgslider figure img { 
        width: 20%; 
        float: left; 
        height:100vh;
    }
    
    
    
    @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    
    
    
    @media(max-width: 990px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:#f44336;
        height: 100vh;
        width:200px;
        top: 0;
        right:-200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fa{
         display: block;
         color: #fff;
         margin: 10px;
         font-size: 22px;
         cursor: pointer;
     }
    .nav-links ul{
    
        padding: 30px;
    }
    
      }
    