@font-face {
    font-family: 'Poppins-Light';
    src: url('/public/fonts/poppinsfont/Poppins-Light.eot');
    src: url('/public/fonts/poppinsfont/Poppins-Light.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/poppinsfont/Poppins-Light.woff2') format('woff2'),
         url('/public/fonts/poppinsfont/Poppins-Light.woff') format('woff'),
         url('/public/fonts/poppinsfont/Poppins-Light.ttf')  format('truetype'),
         url('/public/fonts/poppinsfont/Poppins-Light.svg#Poppins Light') format('svg');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('/public/fonts/poppinsfont/Poppins-Regular.eot');
    src: url('/public/fonts/poppinsfont/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/poppinsfont/Poppins-Regular.woff2') format('woff2'),
         url('/public/fonts/poppinsfont/Poppins-Regular.woff') format('woff'),
         url('/public/fonts/poppinsfont/Poppins-Regular.ttf')  format('truetype'),
         url('/public/fonts/poppinsfont/Poppins-Regular.svg#Poppins') format('svg');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('/public/fonts/poppinsfont/Poppins-Bold.eot');
    src: url('/public/fonts/poppinsfont/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/poppinsfont/Poppins-Bold.woff2') format('woff2'),
         url('/public/fonts/poppinsfont/Poppins-Bold.woff') format('woff'),
         url('/public/fonts/poppinsfont/Poppins-Bold.ttf')  format('truetype'),
         url('/public/fonts/poppinsfont/Poppins-Bold.svg#Poppins') format('svg');
}



//
//@font-face {
//  font-family: 'MearskText';
//  src:  url('//public/fonts/maersk/MaerskText-Regular.eot') format('eot'),
//        url('//public/fonts/maersk/MaerskText-Regular.woff2') format('woff2'),
//        url('//public/fonts/maersk/MaerskText-Regular.woff') format('woff');
//}
//
//@font-face {
//  font-family: 'MearskText';
//  src:  url('//public/fonts/maersk/MaerskText-Light.eot') format('eot'),
//  url('//public/fonts/maersk/MaerskText-Light.woff2') format('woff2'),
//  url('//public/fonts/maersk/MaerskText-Light.woff') format('woff');
//  font-weight: 300;
//}
//
//@font-face {
//  font-family: 'MearskText';
//  src:  url('//public/fonts/maersk/MaerskText-Bold.eot') format('eot'),
//  url('//public/fonts/maersk/MaerskText-Bold.woff2') format('woff2'),
//  url('//public/fonts/maersk/MaerskText-Bold.woff') format('woff');
//  font-weight: bold;
//}
//
