//
// Components - Icons
// --------------------------------------------------

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icons/icomoon.eot?e1uzrh');
  src:  url('/fonts/icons/icomoon.eot?e1uzrh#iefix') format('embedded-opentype'),
    url('/fonts/icons/icomoon.ttf?e1uzrh') format('truetype'),
    url('/fonts/icons/icomoon.woff?e1uzrh') format('woff'),
    url('/fonts/icons/icomoon.svg?e1uzrh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e903";
}

.icon-calendar:before {
  content: "\e902";
}

.icon-message:before {
  content: "\e904";
}

.icon-doc:before {
  content: "\e905";
}

.icon-flight:before {
  content: "\e90a";
}

.icon-laptop:before {
  content: "\e907";
}

.icon-laptop-small:before {
  content: "\e90c";
}

.icon-globe:before {
  content: "\e908";
}

.icon-home:before {
  content: "\e90b";
}

.icon-top:before {
  content: "\e900";
}