
.section-banner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  &:before{
    content: ' ';
    display: table;
  }
  &:after{
    content: ' ';
    display: table;
  }
}

.banner-auto-height{
 @extend .section-banner;
  height: auto;
  overflow: hidden;

}

.mob-banner-auto-height{
  @media (max-width: 991px) {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-banner-auto-height{
  width: 100%;
  &:before{
    content: ' ';
    display: table;
  }
  &:after{
    content: ' ';
    display: table;
  }

  @media (max-width: 991px) {
    padding: 15px;
  }
}


.section-hp-top-banner{
  background: url('/public/images/placeholders/home-header.jpg') no-repeat;
  background-size: 0;
  //height: auto;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px){
    height: 100vh;
    background-size: cover;
  }
}

.section-working-at-corning{
  background: url('/public/images/placeholders/our_people/main_banner.jpg') no-repeat;
  background-size: cover;
}

.section-part-of-future{
  padding-bottom: 39%;
  position: relative;
  background: url('/public/images/placeholders/work_page/we_part_of_future.jpg') no-repeat;
  background-size: cover;
  .l-flex-wrap {
    position: absolute;
    width: 100%;
  }
  @media (max-width: 767px) {
    padding-bottom: 89%;
    background-position-x:70% ;
  }
}

.section-our-people{
  background: url('/public/images/placeholders/work_page/working_banner.jpg') no-repeat;
  background-size: cover;
}

.section-careers-in-asia{
  background: url('/public/images/placeholders/careers_page/careers_banner.jpg') no-repeat;
  background-size: cover;
}

.section-welcomes-you{
  background: url('/public/images/placeholders/our_people/bg_welcomes_you.jpg') no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: 991px){
    background: $grey-base;
  }
}


.section-locations-grey{
  padding: 50px 0;
  background-color: $grey-base;
  @media (max-width: 480px){
    .description-text__dark{
      text-align: left;
    }
  }
}

// For img header banner
.img-banner {
  width: 100%;
  height: 370px;
}
.img-job-description-banner{
  padding-bottom: 28.9%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.l-container-s-view-centered {
  @extend .l-container-view-centered;
  top: 50px;
}

