
html{

  font-family: $font-primary;
  font-size: 14px;
  line-height: 20px;
}

body {
  //word-wrap: break-word;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $dark-text;

  &.is-show-mobile-nav {
    overflow: hidden;
  }
}

*,
:after,
:before{
  box-sizing: border-box;
}

a{
  outline: 0;
  text-decoration: none;
  &:hover{
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
  }

}

ul{
  list-style-type: square;
}