
/* Fonts
============================================================*/

$font-primary: Helvetica Neue,Helvetica,Arial,sans-serif;

 $font-regular: "Poppins-regular",Helvetica Neue,Helvetica,Arial,sans-serif;

 $font-bold: "Poppins-bold",Helvetica Neue,Helvetica,Arial,sans-serif;

 $font-light: "Poppins-Light",Helvetica Neue,Helvetica,Arial,sans-serif;





/*Hover Transitions
================================================================*/
$button-hover-transition :  background-color 0.5s linear;