/* ========================================================================
   #SETTINGS - MIXINS
   ======================================================================== */





/* Full width background image
========================================================================== */

@mixin full-width-image($img-uri, $background-top:"center", $background-left:"center"){
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left);
  background-size: cover;
}





/* Font smoothing
======================================================================== */

@mixin font-smoothing($value: antialiased){
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}





/* Fluid typography
======================================================================== */

@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px){

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

  @media screen and (max-width: $lower-range){
    font-size: $min-font-size;
  }

  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }

}





/* Transitions
======================================================================== */

@mixin transition($type, $duration, $effect) {
  transition: $type $duration $effect;
}

//---------------------------------------------------------
//  Prefix Transforms
//---------------------------------------------------------
@mixin transform($transforms) {
  -webkit-transform: $transforms; /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: $transforms; /* IE 9 */
  transform: $transforms; /* IE 10, Fx 16+, Op 12.1+ */
}


/* Box shadow
======================================================================== */

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow:inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}
